#content {
    width: 600px;
    margin: 0 auto;
    font-family: sans-serif;
    padding-top: 20px;
}

html {
    background-color: #f6f6f6;
}

h1 {
    color: #6a6a6a;
    font-size: 40px
}

h3 {
    color: #727272
}

#rules {
    font-size: 12;
    color: grey;
}

a:link {
    color: #7878ff;
}